Skip use of `LOGIN` IMAP command if `LOGINDISABLED` capability is advertised

This block:

https://github.com/atc0005/check-mail/blob/19f44e2e2d4350a0815dfd86f9b9f7c73aa3e648/cmd/check_imap_mailbox/main.go#L90-L99

Calls the mbxs.Login function which wraps this command:

https://github.com/atc0005/check-mail/blob/19f44e2e2d4350a0815dfd86f9b9f7c73aa3e648/internal/mbxs/connect.go#L268

This is an implementation of the IMAP `LOGIN` command as described by RFC3501, section 6.2.3. In that section, this warning is given:

> A client implementation MUST NOT send a LOGIN command if the `LOGINDISABLED` capability is advertised.

The emersion/go-imap library used by this project supports requesting capabilities (the full list) and one-off checks of a specific capability.

From what I'm reading (RFC, go-imap GH issue) it's standard practice to advertise that capability if a TLS connection has not been established first.

Full (relevant) RFC paragaph:

>         Unless either the STARTTLS command has been negotiated or
>         some other mechanism that protects the session from
>         password snooping has been provided, a server
>         implementation MUST implement a configuration in which it
>         advertises the LOGINDISABLED capability and does NOT permit
>         the LOGIN command.  Server sites SHOULD NOT use any
>         configuration which permits the LOGIN command without such
>         a protection mechanism against password snooping.  A client
>         implementation MUST NOT send a LOGIN command if the
>         LOGINDISABLED capability is advertised.

## References

- https://pkg.go.dev/github.com/emersion/go-imap/client#Client.Support
- https://datatracker.ietf.org/doc/html/rfc3501#section-6.2.3
- https://github.com/emersion/go-imap/issues/40